<app-header (addToCollection)="addToCollection($event)"></app-header>

<div class="container m-5 row" *ngIf="movies$">
  <div *ngFor="let movie of movies$; let i = index" class="col-md-3 mb-3" id="#collections">
    <div>
      <div class="card" >
        <div class="card-body" style="height: 520px;">
          <picture >
            <img style="height: 300px;" [src]="movie.Poster" class="card-img-top" alt="Poster"  *ngIf="movie.Poster !== 'N/A'"> 
            <img src="../../../assets/image-not-found.png"  class="card-img-top" alt="Poster"  *ngIf="movie.Poster === 'N/A'"> 
          </picture>
          <div class="card">
            <div class="card-body col" style="height: 180px;">
              <h6 class="card-title row"><ins><b>{{ movie.Title }}</b></ins></h6> 
              <div class="col">
                <p class="card-text"><b>imdbID: </b>{{ movie.imdbID }}</p>
                
              </div>
              <div class="col">
                <p class="card-text"><b>Type: </b>{{ movie.Type }}</p>
              </div>
              <div class="col">
                <p class="card-text"> <b>Year: </b>{{ movie.Year }}</p> 

                <div (click)="handleClick(i)" class="text-danger">
                <i [id]={i} [ngClass]="{'bi bi-heart': !liked.includes(movie.Title), 'bi bi-heart-fill': liked.includes(movie.Title)}"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
